body {
      background-color: #E3FDFD;
    }

hr {
  background-color: white;
  border-style: dotted none none;
  height: 0px;00
  width: 3%;
  border-color: #A6E3E9;
  border-width: 5px;
}

h1{
  color: #3FC1C9
}

h3{
  color: #3FC1C9
}
